/* @import './base.css'; */

body {
    min-height: 100vh;
    background: #040300;
    color: #FFF;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

#app {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: inherit;
}

h3 {
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    h3 {
        font-weight: 400;
        font-size: 17px;
    }
}

.macaroni-container {
    position: relative;
}