/* @import './base.css'; */

:root {
    // --primary-color: #373737;
    --background-color: #040300;
    // --secondary-color: #1f1f1f;
    --text-color: #ffffff;
    --text-color-hover: #eceef3;
    --back-gradient: linear-gradient(0deg, #04030000 0%, #121318 100%);
    --mix-blend-mode: lighten;

    --theme: 'dark';
}

[data-theme="light"] {
    // --primary-color: #ffffff;
    --background-color: #eceef3;
    // --secondary-color: #f4f4f4;
    --text-color: #171717;
    --text-color-hover: #222222;
    --back-gradient: linear-gradient(0deg, #eceef300 0%, #cad4fd 100%);

    --mix-blend-mode: darken;
    --theme: 'light';
}


@mixin is-light-theme() {
    [data-theme="light"] & {
        @content;
    }
}

@mixin is-dark-theme() {
    [data-theme="dark"] & {
        @content;
    }
}

//   @include is-light-theme() {}


body {
    min-height: 100vh;
    transition: background 0.3s ease,
        color 0.3s ease;
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    position: relative;
    /* overflow-x: hidden; */
    scrollbar-gutter: stable;

}

#app {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: inherit;
    position: relative;
}


h3 {
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    h3 {
        font-weight: 400;
        font-size: 17px;
    }

}


/* width */

::-webkit-scrollbar {
    width: 0px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}